# Dataset
# listings.csv - INCLUIDO EN EL REPOSITORIO

# Archivos del sistema
.DS_Store
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Entornos virtuales
venv/
env/
.venv

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Output
.ipynb_checkpoints/
